name: Check Transpiled JavaScript

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  check-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: pnpm

      - run: rm -rf dist/

      - run: pnpm install --frozen-lockfile

      - run: pnpm run bundle

      - name: Check for changes
        run: |
          if [ ! -d dist/ ]; then
            echo "dist/ directory does not exist"
            ls -la
            exit 1
          fi
          if [ "$(git diff --ignore-space-at-eol --text dist/ | wc -l)" -gt "0" ]; then
            echo "Uncommitted changes in dist/"
            git diff --ignore-space-at-eol --text dist/
            exit 1
          fi

      - if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist/
