name: Licensed

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  licensed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: .node-version
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby

      - uses: licensee/setup-licensed@v1.3.2
        with:
          version: 4.x
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update Licenses
        if: github.event_name == 'workflow_dispatch'
        run: licensed cache

      - name: Commit Licenses
        if: github.event_name == 'workflow_dispatch'
        run: |
          git config --local user.email "licensed-ci@users.noreply.github.com"
          git config --local user.name "licensed-ci"
          git add .
          git commit -m "Auto-update license files" || true
          git push

      - name: Check Licenses
        run: licensed status
